
<h1 align="center"><tr><th>Menu</th></tr></h1>

<div id="menu">
    <ul>
        <h2><li><a href="/servers_list">Retrieve the list of servers to which the user that is invoking the API has access</a></li></h2>
        <h2><li><a href="/clusters_list">Retrieve the list of clusters that contain at least 1 server to which the user that invoking the API has access</a></li></h2>
        <h2><li><a href="/input_cluster_id">Retrieve the list of servers that belong to a specified cluster</a></li></h2>
		<h2><li><a href="/input_server_id">Retrieve the list of access attempts for each user against a particular server </a></li></h2>
		<h2><li><a href="/add_server_row">Add a server to a cluster by specifying an IP, nickname, cluster to which belongs</a></li></h2>
		<h2><li><a href="/logout">Log out</a></li></h2>
    </ul>
</div>