<h1 align="center-left"><tr><th>Access attempts</th></tr></h1>
<table border=1>
<tr><th>User ID</th><th>Server ID</th><th>Success</th><th>DateStamp</th></tr>
	{% if results|length > 0 %}
        {% for result in results %}
		<tr><td>{{ result[0] }}</td><td>{{ result[1] }}</td><td>{% if result[2] == 0 %}Fail{% else %}Success{% endif %}</td><td>{{ result[3] }}</t</tr>
        {% endfor %}
	{% else %}
		<tr><td>No server access found</td></tr>
	{% endif %}
</table>
<h2><li><a href="/return_to_menu">Return to main menu</a></li></h2>
